#index{
    background-image: url("./images/cleanBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#portfolio{
    background-image: url("./images/northernLight.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#contact{
    background-image: url("./images/outpost.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .95;
   
}

#about{
    background-image: url("./images/deerBackgroundLarge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.profile {
    height: 100%;
}

.imageBtn {
    height: 200px;
    width: 200px;
    padding: 0 0 0 0;
    box-shadow: 5px 5px 3px rgba(111, 119, 114, 0.75);
    opacity: .8;
}

.imageBtn:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#myName {
    position: fixed;
    bottom: 350px;
}

#myName2 {
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
}
#tagLine {
    font-size: 36px;
    position: fixed;
    bottom: 250px;
    font-family: 'Open Sans', sans-serif;
}

#contactMe {
    position: fixed;
    top: 30%;
}

#aboutMe {
 font-size: 24px;
 font-family: 'Open Sans', sans-serif;
}

@media (max-width: 2200px) {
    #index{
        background-image: url("./images/cleanBackground.png");
        background-repeat: no-repeat;
        background-size: auto;
    }

    #portfolio{
        background-image: url("./images/northernLight.png");
        background-repeat: no-repeat;
        background-size: auto;
    }
    
    #contact{
        background-image: url("./images/outpost.png");
        background-repeat: no-repeat;
        background-size: auto;
        opacity: .95;
    }
    
    #about{
        background-image: url("./images/deerBackgroundLarge.jpg");
        background-repeat: no-repeat;
        background-size: auto;
    }
}